<html>
    <head>
        <script src="https://www.google.com/recaptcha/api.js"></script>
    </head>
    <body>
        <h1>v3</h1>
        <form action="next" id="demo-form" method="post">
        <button class="g-recaptcha" 
        data-sitekey="TODO"
        data-callback='onSubmit' 
        data-action='submit'>Submit</button>
        <script>
            function onSubmit(token) {
              document.getElementById("demo-form").submit();
            }
        </script>
        </form>

        <a href="v2">v2</a><br />
    </body>
</html>